@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Train+One&display=swap");
@import "_nullstyle.scss";

body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  z-index: 223;
  width: 100%;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgb(40, 243, 0), #0a0505, rgb(40, 243, 0));
  display: flex;
  align-items: center;
  height: 100px;
  background: linear-gradient(0deg, rgb(255, 209, 0) 37%, rgb(26, 163, 246) 53%, rgb(13, 32, 216));
  &__items {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

  &__menu {
    display: none;
  }

  &__logo {
    width: 100%;
  }

  &__item {
    margin: 0 20px 0 0;
    height: 50px;
    display: flex;
    align-items: center;
    img {
      width: 120px;
    }
  }
}

@keyframes header {
  0% {
    transform: rotate(0deg) translate(85px, 50px);
  }
  50% {
    left: 54%;
    transform: rotate(45deg) translate(85px, 200px);
  }
  100% {
    left: 70%;
    transform: rotate(360deg) translate(85px, 100px);
  }
}

.main {
  padding: 100px 0 0 0;
  background: linear-gradient(0deg, rgb(74, 239, 83), rgb(120, 255, 85) 6%, rgb(40, 243, 0));
  &__title {
    text-transform: uppercase;
    color: navy;
    padding: 30px 0;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 25px;
    text-align: center;
  }

  &__columns {
    display: flex;
  }

  &__column {
    margin: 0 auto;
    border-radius: 100px 100px 0 0;
    background: linear-gradient(90deg, rgb(0, 0, 0) 1%, rgb(111, 222, 250) 50%, rgb(0, 0, 0));
    width: 70%;
    &_1 {
      overflow: hidden;
      position: absolute;
      min-height: 610vh;
      width: 12%;
    }
    &_2 {
      border-radius: 50px;
      background: linear-gradient(0deg, rgb(74, 239, 83), rgb(120, 255, 85) 6%, rgb(40, 243, 0));
    }
    &_3 {
      overflow: hidden;
      right: 0;
      position: absolute;
      min-height: 610vh;
      width: 12%;
    }
  }

  &__text {
    padding: 0 50px 20px 50px;
    font-size: 16px;
    line-height: 27px;
  }

  &__button {
    margin: 0 auto 30px auto;
    border-radius: 30px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 251, 0);
    letter-spacing: 5px;
    background: rgb(221, 9, 9);
    width: 400px;
    height: 70px;
  }

  &__button:hover {
    background: rgb(131, 5, 5);
    color: rgb(255, 231, 16);
  }

  &__img {
    filter: blur(5px);
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__items {
    margin: 0 auto 30px auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }

  &__t-shirt {
    border-radius: 20px;
    background: goldenrod;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
  }

  &__model {
    margin: -70px 0 10px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: rgb(28, 2, 34);
  }

  &__cost {
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: rgb(3, 94, 3);
  }

  &__buy:hover {
    color: rgb(117, 4, 98);
  }

  &__buy {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(211, 7, 7);
    text-decoration: underline;
  }

  &__info {
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  &__discount {
    position: relative;
    z-index: 3;
  }

  &__discount-img {
    margin: 0 auto 30px auto;
    background: none;
    width: 300px;
    img {
      width: 80%;
    }
  }

  &__gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__image {
    margin: 0 0 30px 0;
    border-radius: 20px;
    background: rgb(180, 206, 195);
    width: 700px;
    height: 700px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    margin: 0 0 20px 0;
  }
}

// .img {
//   background: linear-gradient(0deg, rgb(255, 197, 6), rgb(193, 250, 250) 100%);
// }
.main__others {
  padding: 50px 0 0 0;
}

.footer {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgb(30, 26, 44) 100%);
  &__copy {
    font-family: "RocknRoll One";
    div:first-child {
      margin: 0 0 15px 0;
    }
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: oldlace;
    font-size: 14px;
    letter-spacing: 1px;
    img {
      width: 22px;
    }
  }
}

.header__animation_1 {
  display: inline-block;
  vertical-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
  left: 0;
  animation: circle-1 3s linear infinite alternate 0s;
  img {
    width: 100%;
    height: 100%;
  }
}
.header__animation_2 {
  display: inline-block;
  vertical-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
  left: 0;
  animation: circle-2 3s linear infinite alternate 0s;
  img {
    width: 100%;
    height: 100%;
  }
}
.header__animation_3 {
  display: inline-block;
  vertical-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
  left: 0;
  animation: circle-3 3s linear infinite alternate 0s;
  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes circle-1 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    top: 10%;
  }
  100% {
    top: -98%;
    left: 100%;
  }
}
@keyframes circle-2 {
  0% {
    left: 0;
  }
  50% {
    top: 94%;
  }
  100% {
    top: -10%;
    left: 100%;
  }
}
@keyframes circle-3 {
  0% {
    left: 0;
  }
  50% {
    top: 34%;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

.virus {
  display: none;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 17%;
  z-index: 2334;
  width: 1000px;

  height: 60px;
  background: #fff;
  &__wrapper.active {
    position: fixed;
    z-index: 25;
    background: rgba(255, 0, 0, 0.911);
    width: 100vw;
    height: 100vh;
  }
  &__info.active {
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  &__load.active {
    padding: 5px 0;
    font-size: 10px;
    overflow: hidden;
    color: #fff;
    border: 1px solid #000;
    background: rgb(19, 129, 4);
    height: 20px;
    position: relative;
    animation: virus 30s linear alternate 0s;
  }
}
#prank {
  margin: 20px auto;
  padding: 5px 10px;
  position: fixed;
  top: 40vh;
  left: 25vw;
  z-index: 200;
  display: none;
  letter-spacing: 5px;
  font-family: "Rubik One", sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(8deg, rgb(0, 0, 0) 3%, rgb(255, 0, 0) 100%);
  color: white;
  border-radius: 5px;
  mix-blend-mode: multiply;
  animation: prank 3s ease-out infinite alternate 0s;
}
@keyframes prank {
  0% {
    transform: rotate3d(0.2, 1, 0.5, 0deg);
  }
  40% {
    transform: rotate3d(0.5, 1, 1, 65deg);
  }
  50% {
    transform: rotate3d(1, 0.5, 1, 155deg);
  }
  75% {
    transform: rotate3d(1, 0.2, 1, 255deg);
  }
  100% {
    transform: rotate3d(0.2, 1, 0.5, 360deg);
  }
}
@keyframes virus {
  0% {
    width: 0%;
  }
  40% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 70%;
  }
  90% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

@keyframes wrapper {
  0% {
    background: rgba(255, 0, 0, 0.911);
  }
  25% {
    background: rgba(143, 2, 2, 0.911);
  }
  50% {
  }
  75% {
    background: rgba(255, 1, 1, 0.911);
  }
  100% {
    background: rgba(145, 4, 4, 0.911);
  }
}
#iframe {
  filter: blur(20px);
}
.pay-form {
  display: none;
  position: fixed;
  left: 35vw;
  top: 30vh;
  z-index: 100;
  padding: 20px;
  width: 450px;
  height: 350px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 10px solid rgb(255, 63, 63);
  fieldset {
    margin: 0 0 0px 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  div {
    border-radius: 10px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(218, 218, 218);
  }
  div:nth-child(1) {
    margin: -10px 0 10px 0;
    background: #fff;
  }
  div:nth-child(2) {
    margin: 0 0 20px 0;
    width: 100%;
  }
  div:nth-child(3) {
    margin: 0 20px 0 0;
    width: 185px;
  }
  div:nth-child(4) {
    width: 185px;
  }
  span {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: rgb(65, 61, 61);
  }
  input {
    text-align: center;
    padding: 5px;
    color: #000;
    height: 25px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  input::placeholder {
    text-align: center;
  }
  input:focus {
    background: rgb(243, 87, 87);
  }
}
#card__number {
  width: 200px;
}
#card__cvv {
  width: 60px;
}
#card__termine {
  width: 60px;
}
#card__submit {
  margin: 40px 0 0 0;
  background: rgb(255, 63, 63);
  font-family: "RocknRoll One", sans-serif;
  font-size: 18px;
  color: aliceblue;
  border-radius: 15px;
  border: 3px solid rgb(218, 218, 218);
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card__exit {
  margin: 40px 0 0 0;
  background: rgb(116, 104, 104);
  font-family: "RocknRoll One", sans-serif;
  font-size: 18px;
  color: aliceblue;
  border-radius: 15px;
  border: 3px solid rgb(218, 218, 218);
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card__submit:active {
  background: rgb(204, 30, 30);
}
#card__exit:active {
  background: rgb(77, 71, 71);
}
#card__img {
  display: block;
  width: 100%;
}
#img-pig-2 {
  top: -25px;
  position: relative;
  left: -85px;
  width: 220px;
  height: 170px;
}

.inf-form {
  display: none;
  position: fixed;
  left: 35vw;
  top: 28vh;
  z-index: 100;
  padding: 20px;
  width: 450px;
  height: 350px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 10px solid rgb(255, 63, 63);
  div {
    margin: 0 0 30px 0;
    padding: 0 50px;
  }
  h3 {
    margin: 0 0 7px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  h4 {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  span {
    margin: 0 0 0px 0;
    font-weight: 500;
    font-size: 18px;
    color: rgb(66, 1, 71);
  }
  input {
    margin: 5px 0 0 0;
    display: block;
    text-align: left;
    padding: 5px;
    color: #000;
    height: 25px;
    width: 170px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  input::placeholder {
    text-align: left;
  }
  input:focus {
    background: rgb(243, 87, 87);
  }
  fieldset {
    margin: -15px 0 0 0;
    display: flex;
  }
}
#password__img {
  margin: -20px auto -10px auto;
  display: block;
  width: 80px;
  height: 80px;
}
#inf__submit {
  background: rgb(255, 63, 63);
  font-family: "RocknRoll One", sans-serif;
  font-size: 18px;
  color: aliceblue;
  border-radius: 15px;
  border: 3px solid rgb(218, 218, 218);
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inf__exit {
  background: rgb(116, 104, 104);
  font-family: "RocknRoll One", sans-serif;
  font-size: 18px;
  color: aliceblue;
  border-radius: 15px;
  border: 3px solid rgb(218, 218, 218);
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inf__submit:active {
  background: rgb(204, 30, 30);
}
#inf__exit:active {
  background: rgb(77, 71, 71);
}

.pay {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(255, 217, 0);
  background: linear-gradient(0deg, rgb(131, 129, 123), rgb(189, 245, 245) 100%);
  pre {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  &__width {
    display: flex;
    align-items: center;
    height: 75px;
    width: 100%;
    background: rgb(138, 2, 2);
  }

  &__height {
    padding: 0 90px 0 0;
    height: 80vh;
    width: 100px;
    background: rgb(138, 2, 2);
    pre {
      display: flex;
      justify-content: center;
    }
  }
}

#wrapper {
  display: flex;
}
#one {
  span {
    position: relative;
    animation: pay3 5s linear infinite alternate 0s;
  }
}
#two {
  span {
    position: relative;
    animation: pay1 5s linear infinite alternate 0s;
  }
}
#three {
  right: 0;
  position: absolute;
  span {
    position: relative;
    animation: pay2 5s linear infinite alternate 0s;
  }
}
#four {
  span {
    position: relative;
    animation: pay4 5s linear infinite alternate 0s;
  }
}

@keyframes pay1 {
  0% {
    top: 0;
  }
  100% {
    top: 75%;
  }
}
@keyframes pay2 {
  0% {
    top: 75%;
  }
  100% {
    top: 0;
  }
}
@keyframes pay3 {
  0% {
    left: 0;
  }
  100% {
    left: 75%;
  }
}
@keyframes pay4 {
  0% {
    left: 75%;
  }
  100% {
    left: 0;
  }
}
